{config_load file="$language/captions.cfg" section="category"}
<div id="page_wrap">
<div id = "page_top"></div>
<div id="page_content">
<div id="page">
<h1>{$category.title}</h1>

{* страны быстрый переход  *}
{if $countrys}
<div class="country_list">
   <span class="speed_go">{#goto#}</span><br/>
{section name = i loop = $countrys}
<a href='{$current_url}#{$countrys[i].country_id}'><img src="{$img_folder}{$countrys[i].image}" align="bottom" />{$countrys[i].name}</a>
{/section}
</div>
{/if}

<div id="content_page short_text">
{$category.short_text}
<a class="more" href="{$current_url}#full_text">{#more#}</a>
</div>

</div>


</div>
<div id = "page_bottom"></div>
</div>

{* дополнительный контент типа ссылки куда то*}
<div>
{$category.add_content}
</div>

<div id="articles_block" style="display:none"></div>


{* таблицы школ*}
{$schools}

<div id="page_wrap">
<div id ="page_top"></div>
<div id="page_content">
 <div id="page">
<table width="100%"><tr><td><h3><a name="full_text">{$category.title}</a></h3></td><td align="right"><a class="goto" href="javascript:scroll(0,0);">{#top#}</a></td></tr></table>
  <div id="content_page">
    {$category.text}
  </div>
 </div>
</div>
<div id = "page_bottom"></div>
</div>

{if !$category.only_page}
<script type="text/javascript">
{literal}
$(document).ready(function(){
	$('#articles_block').html($('#temporary_block').html()).css('display','block'); 
});
{/literal}
</script>
{/if}