{config_load file="$language/captions.cfg" section="school"}
<div id="category_page">
 <h1>{$school.name}</h1>

 <div class="fl img_container">
	{if $school.is_action && $school.action_img}<img class="action_icon" src="{$actionimgFolder}{$school.action_img}"/>{/if}
	<img class="school_image" src="{$img_folder}{$school.image}">
 </div>
 
 <div class="fl params_container">
	<span class="goto">{$school.original_name}</span>

	{if $school.school_type}<div><label>{#school_type#}</label><value>{$school.school_type}</value></div>{/if}
	{if $school.sity}<div><label>{#sity#}</label><value>{$school.sity}</value></div>{/if}
	{if $school.age}<div><label>{#age#}</label><value>{#from#} {$school.age} {if $school.age2} {#to#} {$school.age2}{/if}</value></div>{/if}
	{if $school.special}<div><label>{#special#}</label><value></value>{$school.special}</value></div>{/if}
	{if $languages}<div><label>{#languages#}</label><value><ul>{foreach from=$languages item=item}<li>{$item}</li>{/foreach}</ul></value></div>{/if}
	{if $programs}<div><label>{#programs#}</label><value><ul>{foreach from=$programs item=item}<li>{$item}</li>{/foreach}</ul></value></div>{/if}
	
	<div><a class="favorite"><span class="star">&nbsp;</span>Добавить в избранное</a></div>	
	<a class="order_now1" href="javascript:void(0);">ПОДРОБНАЯ КОНСУЛЬТАЦИЯ</a>
</div>
<div class="clear"></div>

<!-- tabs -->
<ul class="tabs">
	<li class="tab1 current">Описание</li>
	{if $school.text2}<li class="tab4">Cтоимость</li>{/if}
	{if $video || $video_code}<li class="tab2 ">Видео</li>{/if}
	{if $gallery}<li class="tab3">Фото</li>{/if}
	{if $school.is_action}<li class="tab5">Акция</li>{/if}
 </ul>

<!-- /tabs -->

<div class="tab1 box visible">	
{$school.text}
</div>

<div class="tab4 box">	
{$school.text2}
</div>


<div class="tab2 box">
	<div style="text-align:center">
		
	{if $video}
		{foreach from=$video key=key item=v}
		<object width="480" height="360">
			<param name="movie" value="{$v}"></param>
			<param name="allowFullScreen" value="true"></param>
			<param name="allowscriptaccess" value="always"></param>
			<embed src="{$v}" type="application/x-shockwave-flash" width="480" height="360" allowscriptaccess="always" allowfullscreen="true"></embed>
		</object>
		<br/>
		{/foreach}	
	{/if}
	
	{if $video_code}
		{foreach from=$video_code key=key item=vk}
		{$vk}<br/>
		{/foreach}
	{/if}
	
	</div>		
</div>

<div class="tab3 box">	

{if $gallery}
<table>
<tr>
{section name = i loop = $gallery max = $cols}
<td><a href="{$folder}{$gallery[i].folder}images/{$gallery[i].image}" class="thickbox" rel="gallery" title="{$galery[i].description}">
	<img src="{$folder}{$gallery[i].folder}thumbs/{$gallery[i].image}" alt="{$gallery[i].alt}" height="100"/>
	</a>
</td>
{/section}
</tr>
{if $total > $cols}<tr><td colspan="{$cols}" align="right"><div class="see_more"><a href="{$lang_url}{$gallery[0].folder}">{#see_more#}</a></div></td></tr>{/if}
</table>
{else}
<div class="nocontent">Нет фото</div>
{/if}

</div>

<div class="tab5 box">	
	<span class="original">Акция действует с {$school.action_from} по {$school.action_to}</span><br/><br/>
	<span class="original">{$school.action_descr}</span>
</div>

<div class="clear"></div>

{include file="study/modules/order_block.html" form='question'}

{* контейнер для вывода всех изображений *}
<div id = "gallery_container"></div>

</div>
