{config_load file="$language/captions.cfg" section="category"}

<div id="category_page">
	<h1>{$category.name}</h1>

{if $categorys}
<div class="row">
  {section name = i loop = $categorys}
   <div class="programg_button" >
	   
		{if $categorys[i].country_image}
		<div class="img"><img src="upload/image/country/{$categorys[i].country_image}" /></div>
        {else}
        <div class="img"><img src="/upload/image/blank.gif" /></div>
        {/if}
        
		<a href="{$lang_url}programm/{$categorys[i].url}">
			<div class="text">{if $categorys[i].name != ''} {$categorys[i].name}{else}{$categorys[i].category_name} {$categorys[i].country_name}{/if}</div>
		</a> 
   </div> 
  {/section}
</div>
{/if}

	<div id="page">
		<div class="page_content">
		<h2>{$category.title}</h2>
		{$category.text}
		</div>
	</div>
	
	{include file="study/modules/order_block.html" form='simple'}
	
	<div id="articles_block" style="display:none"></div>	
</div>
