{config_load file="$language/captions.cfg" section="category"}
<div id="country_page">
<h1>{$country.title}</h1>

{if $categorys}
<div class="row">
  {section name = i loop = $categorys}
    <div class="programg_button col-xs-12 col-sm-6 col-md-4 col-lg-4">
		<a href="{$lang_url}programm/{$categorys[i].url}">
		{if $categorys[i].image}
			<div class="img"><img src="{$dir_img}{$categorys[i].image}" align="middle"/></div>
        {else}
            <div class="img"><img src="/upload/image/blank.gif" /></div>
        {/if}
			<div class="text">{if $categorys[i].name != ''} {$categorys[i].name}{else}{$categorys[i].category_name} {$categorys[i].country_name}{/if}</div>
		</a> 
    </div>  
  {/section}
</div>
{/if}

<div id="page">
	<div class="page_content">
	{$country.text}
	</div>
</div>

{include file="study/modules/order_block.html" form='simple'}

<div id="articles_block" style="display:none"></div>

{if $hrefs}
<div class="category_list" style="margin: 5px 0 0 0;">
{foreach from = $hrefs item=item name=i}
	<a href="{$item.href}">{$item.anchor}</a> 
	{if !$smarty.foreach.i.last} | {/if} 
{/foreach}
</div>	
{/if} 
</div>
