{if $form !== 'question'}

<div class="blue_block">
В нашей базе более 1000 000 программ по всему миру<br>
<div class="white_line"></div>
Заказать подбор программы бесплатно сейчас<br/>
<div class="order order_button">ЗАКАЗАТЬ</div>
</div>

{else}

<div class="blue_block">
<span class="question"></span>ПОЛУЧИТЕ БОЛЬШЕ ИНФОРМАЦИИ ПО ТЕЛЕФОНАМ:<br>
(044) 461 99 23; (098) 513 11 15;  (050) 166 65 98
<div class="white_line"></div>
или заполните форму сейчас и мы перезвоним Вам!<br/>
<div class="order order_button">ЗАПОЛНИТЬ ФОРМУ</div>
</div>

{/if}
