<div id="page_wrap">
<div id ="page_top"></div>
<div id="page_content">
<div id="page">

<h1>{$title}</h1>
<div class="gallery_list">
{$folders}
</div>

</div>
</div>
<div id = "page_bottom"></div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button class="close" aria-label="Close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
			<span id="played_title"></span>
		</div>
		<div class="modal-body">
			<div id="videoDiv"></div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">закрыть</button>
		</div>
	</div>
  </div>
</div>
