h1{color:#707070; font-size:24px; font-weight:normal; font-family:Arial}
h2{color:#28b6e4; font-size:14px; font-weight:bold; font-family:Arial}
h3{color:#5e5e5e; font-size:14px; font-weight:bold; font-family:Arial}
h4{font-size:13px; font-weight:bold; font-family:Arial}
h5{font-size:12px; font-weight:bold; font-family:Arial}
p{text-indent:10px; margin-top:5px; line-height:20px;  text-align:justify}
em{font-style:italic;}
b{font-weight:bold}
img{margin:5px}
strong{font-weight:bold}
em strong{font-style:italic; font-weight:bold}
strong em{font-style:italic; font-weight:bold}
a{ outline: none; color:#000}
a{text-decoration:none}
a:hover{text-decoration:underline}
body{ background:white; font-family: sans-serif;}

.clear{clear:left}
.fl{float:left;}
.fr{float:right}

#head_top{
	background:black;
	height:36px;
}
#head_top_content{
	margin:0 auto;
	width:980px;
}
#head_top_content span{
	background-image:url(../images/sprite.png);
	display:block;
	width:24px;
	height:23px;
	margin-right:5px;
	float:left;
	margin-top:3px;
	text-indent:-9999px;
}

.icon_course{
	background-position:-145px 0;
}
.icon_trans{
	background-position:-170px 0;
}
.icon_corp{
	background-position:-195px 0;
}
#head_top_content a{ 
	color:white;
	line-height:30px;
}
#head_top_content div{
	float:left;
	width:25%;
}
#head_content{
	margin:0 auto;
	width:980px;
}

.head_left{
	margin-top:10px;
	margin-left:60px;
}
.head_right{
	margin-top:5px;
}
.head_phones{
	margin-top:5px;
	margin-left:60px;
	font-size: 20px;
	color: #717171;
	line-height: 30px;
}
#head_top_content div.social {
	float:right;
	width:auto;
}
.social a {
	display:inline-block;
	width:35px;
	height:35px;
	background-image:url(../images/sprite.png);
	text-indent:-9999px;
}

.social a.vk{background-position:0 0;}
.social a.in{background-position:-36px 0}
.social a.fb{background-position:-73px 0;}
.social a.g-pluss_1{background-position:-110px 0;}

#logo{
	display:block;
	width:220px;
	height:103px;
	background:url(../images/logo.jpg) no-repeat left;
}
#callback{
	background:#ec5e5d;
	width:200px;
	height:54px;
	padding-top:5px;
	margin-top:12px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	color:white;
	font-size:20px;
	text-shadow: 1px 1px #444;	
	cursor:pointer;
	text-align:center;
}

#menu_line {
	height:34px; 
	background:#28b6e4;
	border-bottom:2px solid #f45434; 
}
#menu{
	width:980px;
	margin:0 auto;
}

#navigator {
	margin-bottom:5px;
	color:#28b6e4;
}
#navigator .nav{
	display:inline-block;
	width:8px;
	height:8px;
	background:#28b6e4;
	margin-right:5px;
}
#navigator a {
	color:#28b6e4;
}

/* left контакт блок*/
#left .block_title{
	font-size:15px;
	line-height:32px;
	color:white;
	text-align:center;
}
#left .orange{
	background:#ff7c00;
}
#left .blue{
	background:#28b6e4;
}

#left .block{
	border:1px solid #d7d7d7;
	padding:10px 0;
	text-align:center;
	font-size:24px;
	color:#777;
	line-height:30px;
	margin-bottom:20px;
}

#left .block_text{
	font-size:14px;
	line-height:16px;
	color:#ff0000;
	padding:5px 0;
}


#left .order_button{
	display:inline-block;
	background:#ec5e5d;
	border-bottom:2px solid #d33939;
	margin-top:10px;
	padding:4px 0px;
	width:90%;
	height: 17px;
	
	line-height:17px;
	color:white;
	text-shadow: 1px 1px #444;
	font-size:15px;
	text-transform:uppercase;
}


#call_form{
	background:url(../images/form_bg_left.jpg) no-repeat;
	height:360px;
	box-shadow:1px 2px 5px #acacac;
	margin:20px 0;
	width:227px;
	text-align:center;
}
.call_title{
	line-height:50px;
	text-indent:-99999px;
}

#call_form .text{
	border:1px solid #de8801;
	height:30px;
	width:85%;
	padding:2px 5px;
	margin-top:20px;
}
#call_form .label{
	color: #ec5e5d;
    margin: 10px auto 0;
    text-align: left;
    width: 88%;
}
#call_form .textarea{
	margin-top:1px;
	height:40px;
}

#call_form .order_now{
	margin-top:20px;
	display:inline-block;
	background:#ec5e5d;
	border-bottom:2px solid #d33939;
	padding:5px 10px;
	width:80%;
	color:white;
	text-shadow: 1px 1px #444;
	font-size:20px;
	text-transform:uppercase;
}
#left img{
	margin:0;
}


#subscribe{
	margin:10px 0;
}

#subscribe #email_subscribe{
	width:85%;
	height:25px;
	border:1px solid #2fb8e6;
	padding:2px 4px;
	font-size:14px;
}

#subscribe #send_subscribe {
	margin-top:10px;
	background:#ffa800;
	border:none;
	border-bottom:2px solid #ff7b00;
	width:90%;
	color:white;
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
	line-height:26px;
}
/*  /left column */


/* center of page */
#category_page {
	position:relative;
}
#category_page h1, #country_page h1, div.h1, #articles_page h1
{	color:#707070; 
	font-weight:normal; 
	font-family:Arial;
	font-size: 18px;
	padding-bottom:5px;
	border-bottom:1px solid #d7d7d7;	
	margin-bottom:10px;
}

#articles_page h2{ color: #C9C9C9; }
#articles_page h2 span{ color:#ED9493; }

#body{
	width:980px;
	margin:0 auto;
	margin-top:20px;
}
#left{
	width:230px;
	margin-right:10px;
}
#content{
	width:740px;
}

#page {
	padding:10px 0;
	border-top:1px solid #d7d7d7;
	border-bottom:1px solid #d7d7d7;	
}
#page .page_content{
	padding:0 10px;
}
#body ul {margin-left:30px}
#body li{list-style-type:disc}

#page a{
    text-decoration:underline
}
#body ol{margin-left:20px;
  list-style-image:none; 
 list-style-type:decimal;
}
#body ol li {
  list-style-image:none; 
 list-style-type:decimal
}

/* /center of page */

/* boootm block */
.blue_block{
	margin:20px 0;
	background:#28b6e4;
	padding:20px;
	text-align:center;
	color:white;
	font-size:20px;
}

.blue_block .white_line{
	border-bottom:1px solid white;
	margin:20px 0;
}

.blue_block .order{
	display:inline-block;
	color:white;
	font-size:16px;
	padding:2px 40px;
	border-bottom:1px solid #ff8311;
	background:#ffa800;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	text-shadow: 1px 1px #444;
	margin-top:20px;	cursor:pointer;	
}
/* /boootm block */


.programg_button{
	display:inline-block;
	height:100px;
	width:180px;
	padding-left:0px;
	padding-top:4px;
	margin-bottom:5px;
   overflow:hidden;
}
#country_page .programg_button{
	height:120px;
}
.programg_button .img{
	overflow:hidden;
   text-align: center;
}
.text{
	text-align:center;
	color: #0016ee;
	font-size:12px;
	text-decoration:none;
        overflow:hidden;
        height:30px;
        font-weight:bold;
}

/* scholl items*/
.mode_switch{
	padding:5px;
	border:1px solid #dedede;
	width:58px;
	position:absolute;
	right:0px;
	margin-top:-50px;
	-webkit-box-shadow: 1px 1px 2px #ccc;
    -moz-box-shadow: 1px 1px 2px #ccc;
    box-shadow: 1px 1px 2px #ccc;
}

.plate, .line, .plate_active, .line_active{
	width:15px;
	height:13px;
	background-image:url(../images/sprite.png);
	cursor:pointer;
	border:none;
	text-indent:-9999px;
	margin:5px;
}
.line{ background-position:-140px -40px}
.line_active{ background-position:-155px -40px}
.plate{ background-position:-174px -40px}
.plate_active{ background-position:-189px -40px}

#plate .school_item{
	width:220px;
	height:310px;
	border:1px solid #d7d7d7;
	padding:0;
	margin:8px;
	text-align:left;
	position:relative;
}

#plate .school_item img{
	margin:0;
	width:150px;
}
#plate .school_item .img{
	width:220px;
	height:100px;
	text-align:center;
	overflow:hidden;
}
#plate .school_item .name{
	height:30px;
	overflow:hidden;
	margin:4px 10px;
	padding-bottom:5px;
	border-bottom:1px solid #d7d7d7;	
}
#plate .school_item .name a{
	color:#28b6e6;
	font-size:15px;	
}

.school_item .params{
	margin-left:10px;
	color:#565656;
	font-size:14px;
	padding:5px 0;
       max-height:60px;
      overflow:hidden;
}
.school_item .params .ico
{
	display:inline-block;
	width:20px;
	margin-right:5px;
	height:18px;
	background-image:url(../images/sprite.png);
	background-position:20px 20px;
}
.school_item .params .age{ background-position:-100px -40px; }
.school_item .params .sity{ background-position:-120px -40px; }
.school_item .params .school_type{ background-position:-80px -40px; }

.school_item .params .value{
	display:inline-block;
	width:84%;
}
.school_item .params .language{
	width:25%;
}
.school_item .params .redvalue{
	color:#ec5e5d;
	width:70%;	
}
.school_more{
display: block;
margin: 5px 70px;
width: 56px;
padding: 2px 10px;
color: white;
text-align: center;
background: #28b6e4;
position: absolute;
bottom: 0;
}

/* line mode */
#line .school_item{
	width:730px;
	height:150px;
	border:1px solid #d7d7d7;
	padding:5px;
	margin-bottom:10px;
	text-align:left;
	position:relative;
}
#line .school_item img{
	margin:0;
	width:220px;
}
#line .school_item .img{
	width:220px;
	height:150px;
	text-align:center;
	overflow:hidden;
}
#line .name{
	width:280px;
	padding:0 5px;
}
#line .name a {
	display:block;
	font-size:16px;
	color:#28B6E4;
	margin-bottom:10px;
}
#line .original{
	color:#707070;
}
#line  .params{
	width:200px;
}
#line .school_more{
	margin:0;
	right:70px;
	bottom:0;
	margin-bottom:20px;
	font-size:14px;
	width:80px;
}
/* /school_items*/

/* pagination */
#navigator_form{
	width:49%;
	float:left;
}
#navigator_form a {
	display:inline-block;
	padding:0 4px;
	margin:0 2px;
	font-size:14px;
	color:#707070;
}
#navigator_form td.active{
	background:#EC5E5E;
	padding:0 5px;
	color:white;
	font-weight:bold;
}

.items_on_page{
	width:49%;
	float:right;
	text-align:right;
	color:#707070;
}
.items_on_page input{
	border:none;
	background:none;
	padding:0 4px;
	cursor:pointer;
	font-size:14px;
	color:#707070;
}

.items_on_page input.active{
	color:#333;
	text-decoration:underline;
}
/* /pagination*/


/*school*/
.img_container img{ 
width:280px;
}
.img_container{
	width:40%;
	margin-right:10px;
}

.params_container{
	width:55%;
}

.params_container{
	color:#787878;
	font-size:13px;
	line-height:26px;
}

.params_container label{
	display:block;
	width:49%;
	font-weight:bold;
	float:left;
}
.params_container value{
	display:block;
	float:left;
	width:49%;
}

.params_container a{
	color:#787878;
}
.params_container .order_now{
	color:white;
	font-size:14px;
}
.star{ 
	display: inline-block;
	width: 23px;
	height: 20px;
	background-image:url(../images/sprite.png); 
	background-position:-50px -80px;
}

.favorite{
	line-height:20px;
	font-size:12px;
	cursor:pointer;
}
.params_container a.order_now1 {
margin-top: 10px;
display: inline-block;
background: #ec5e5d;
border-bottom: 2px solid #d33939;
padding: 5px 10px;
width: 99%;
color: white;
text-shadow: 1px 1px #444;
font-size: 18px;
text-align:center;
line-height:19px;
}

.question{
	background-image:url(../images/sprite.png);
	background-position:-264px 0;
	width:35px;
	height:35px;
	display:block;
	position:absolute;
}
/* /school*/

/* tabbs */

ul.tabs {
	border-top:1px solid #d7d7d7;
	margin-top:10px;
	padding-top:20px;
	height: 36px;
	line-height: 40px;
	list-style: none;
	border-bottom: 4px solid #29b6e4;
}

.tabs li {
	float: left;
	display: inline;
	margin: 0 2px 0 0;
	padding: 0 35px ;
	color: #777;
	font-weight:bold;
	font-size:16px;
	cursor: pointer;
	background: #ededed;
	position: relative;
	height:35px;
}
.tabs li:hover{
	color: white;
	background: #29b6e4;
}
.tabs li.current {
	color: white;
	background: #29b6e4;

	border-bottom: 1px solid #29b6e4;
}
.box {
	display: none;
	padding:10px;
       padding-left:40px;
}
.box.visible {
	display: block;
}
/* /tabbs */

/* contacts */
.contact_content p{
	float:right;
}

#body .form{
	width:500px;
	position:absolute;
	top:250px;
}


/*    footer   */
#footer{ 
	clear: left; 
	background:#9d9d9d;
	color:white; 
	line-height:20px;
}
#footer a{ color:white;}
#footer_content{
	width:980px;
	margin:0 auto;
	padding:20px 0 10px 0;
}
#fter .white_line{
	border:2px solid white;
}
.copyright{
	width:980px;
	margin:0 auto;
	padding:10px 0 20px 0;
}

.w50 {
	width:50%;
}
#footer .menu_block{
	width :33%;
}

#footer .other_links{
	width:65%
}

#footer .footer_address{
	width:200px;
         margin-top:35px;
}

#search_string{
  width:180px; 
  height:35px; 
  background-color:white; 
  border:1px solid #8d8d8d; 
  padding-left:5px;
  float:left;
}

#search_submit{
    width:36px; 
    height:37px;  
    background-image:url(../images/sprite.png);
    background-position:-230px 0; 
    border:1px solid #8d8d8d; 
    background-color:white;
    cursor:pointer;
    float:left;
}

#footer .links_and_social{
	padding-bottom:5px;
	position: relative;
}

#footer .links_and_social div{
	width:45%;
}
#footer .links_and_social div span{
	display:none;
}
#footer .links_and_social div.social{
	position:absolute;
	width:200px;
	right:1px;
	top:1px;
}

/*  404 */

.error404{
  height:230px; 
  font-size:16px; 
  color:#B63F35; 
  position:fixed; 
  background:white; 
  top:180px; 
  padding:10px;
  border:4px solid #F78733; 
  z-index:1000;
 border-radius:6px;
	-moz-border-radius: 6px;
	-webkit-border-radius:  6px;
	-khtml-border-radius:6px;	
}
.error404 a{text-decoration:underline}
.error404 img {float:left}


/* надпись быстрый переход */
.speed_go{
     color:#828b95; 
     font-size:12px; 
     font-weight:bold;
}

/* быстрый переход к странам*/
.country_list {
   margin:5px 10px 0 10px;
     padding:5px 5px; 
     background:#D3DBE6; 
     border:1px solid #F26522;
}
.country_list img{margin:5px 5px 0 8px; height:15px; }
.country_list a{ 
     font-size:12px; 
     font-weight:bold; 
     color:#B63F35; 
     white-space:nowrap;
}
.category_list a:hover{text-decoration:underline}

/* быстрый переход к категориям*/
.category_list{
     margin:5px 10px 0 10px;
     padding:5px 5px; 
     background:#D3DBE6; 
     border:1px solid #F26522;
}
.category_list span{white-space:nowrap}
.category_list a{
     text-decoration:none; 
     font-size:12px; 
     font-weight:bold;  
     color:#B63F35;
     line-height:20px
/*#B63F35*/
}


#successful, #error{
	position:fixed; 
	z-index:999;
	background:white;
	border:6px solid #f5bd00;
	width:428px; 
	height:70px; 
	padding:10px 10px 10px 10px;
	margin:0 auto; 
	top:200px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	-webkit-box-shadow: 0px 0px 15px #222;
    -moz-box-shadow: 0px 0px 15px #222;
    box-shadow: 0px 0px 15px #222;
    text-align:center;
    font-size:14px;
}

#successful{
	height:150px;
}

.btn_ok{
	margin:10px auto;
	display:block;
	width:80px;
}


#meeting div.left{
	float:left; 
	width:320px;
	margin-left:10px;
}
#meeting div.right{
	float:left; 
	width:250px; 
}

#meeting div.right input {
	margin-left:5px;
}

#meeting div.list{
	line-height:20px;
	font-size:10px;
}

#meeting #sendform{
	font-size:16px; 
	padding:8px 15px; 
	margin: 20px 200px 5px;
}


/* articles */
#articles_page #page{
	border:none;
}
#pagestree ul {margin:10px 5px}
#pagestree li{
	margin:5px 0 20px 5px;
	padding-bottom:10px; 
	list-style-type:none;
	max-height:200px;
	border-bottom:1px solid #4EB7E4;
}
#pagestree .img, #pagestree .cat_img, #mainmenu .cat_img, #left .cat_img{
	float:left;
	width:220px;
	max-height:200px;
	overflow:hidden;
}
#pagestree .cat_img{
	width:100px;
	max-height:100px;
}
#mainmenu .cat_img, #left .cat_img{
	width:40px
}

#articles_category.block {
	padding-left:10px;
	text-align:left;
}
#articles_category ul{
  margin:0;
}
#articles_category li{
	padding:10px 5px 10px 10px;
        list-style-type: none;
}
#articles_category li:hover{
	background:url(../images/article_cat_bg.jpg) no-repeat left top;
}

#articles_category a {
	line-height:20px;
	font-size:16px;
	color:#787878;
	text-align:left;
}

#pagestree img{
	max-width:220px;
	margin:0;
}
#pagestree .article_item{ 
	float:left;
	width:490px;
	margin-left:10px;
}
#pagestree .without_img{
	width:720px;
}
#pagestree .name {
	font-size:16px; 
	font-weight:bold;
	text-decoration:none;
	color:#676767;
}
#pagestree .description{
	font-size:12px; 
	color:#555; 
	padding:5px 0;
	line-height:15px;
	text-align:justify;
}
#pagestree .more{
	display: inline-block;
	margin: 5px;
	padding: 4px 10px;
	color: white;
	text-align: center;
	background: #28b6e4;
	text-decoration:none;
	text-transform:uppercase;
}
#pagestree a.node{font-size:14px; color:#414f5e; font-weight:bold }
#pagestree a{text-decoration:underline}
#pagestree a:hover{text-decoration:none}

/* старая херня*/
/*контент*/


/*
.description{font-size:12px; color:#555; padding-top:4px}

.table_head{font-size:14px; color:#33475c;  padding:5px; margin-top:10px; font-weight:bold}
.table_head table{width:720px}
.table_head a{color:#33475c;}
.school_table{background:#8ed0ff; width:720px; padding:10px}
.school_table table{width:720px; color:#414f5e; border-collapse:separate; border-spacing:2px}
.school_table tr.head{background:#eff0f2}
.school_table th{padding:4px; font-weight:bold}
.school_table td{background:#dfe9f5; padding:4px;}
.school_table a{color:#414f5e; text-decoration:underline}
.school_table a:hover{text-decoration:none}

.selected_list_block{margin-top:20px;}

.article_list_head{background:url(../images/article_list_head.jpg) no-repeat center top; font-size:14px; color:white; text-align:center; height:25px}
.article_item{width:220px; margin:10px; padding-bottom:5px}
.article_item .date{font-size:10px; color:#414f5e }
.article_item .description{font-size:12px; color:#414f5e; padding:4px 0; line-height:18px }
.article_item .description a {display:block; text-align:right; padding-right:10px }
.article_item  a{font-size:12px; color:white }
.article_item img {border:2px solid white; margin-right:5px; margin-bottom:5px}
.cat_list .cat_item{line-height:18px; padding:4px 0}
.article_item .name a{font-size:13px; color:#B63F35; font-weight:bold }
.article_item .name a:hover{color:#B63F35}
 .hr{display:none;} 
*/
#articles_block{
 border-radius:6px;
 -moz-border-radius: 6px;
 -webkit-border-radius:  6px;
 -khtml-border-radius:6px;	 
 border:3px solid #008AFF; 
background:#f6fbfd;  
}

#articles_block .name a {line-height:20px; font-size:13px; color:#B63F35; font-weight:bold }

#articles_block {width:740px; } /* background:#FFE45F; */

#articles_block .selected_list_block{
	text-align:left;
	padding-left:15px;
        padding-right:10px;
}

#articles_block .selected_list_block li{
        padding-bottom:10px;
        text-align:justify;
}

#articles_block .article_list_head{
	background:url(../images/article_list_head.png) no-repeat left top; 
	font-size:12px; 
	color:white;
	font-weight:bold;
	text-shadow: black 1px 1px 1px;
	text-align:center; 
	height:25px;
	width:140px;
	margin-left:20px;
	padding-top:2px;
}
#articles_block .article_item{
	width:600px; 
	margin:0px;
}

#articles_block .article_item .description{font-size:12px; color:#414f5e;  }
#articles_block .article_item .description a.read_more {display:block; text-align:left; font-size:11px; color:#008aff }
#articles_block .article_item img {border:2px solid white; margin-right:5px; margin-bottom:5px}
#articles_block .article_item .name a{font-size:13px; color:#d40000; font-weight:bold; text-align:left }
#articles_block .article_item .name a:hover{color:#B63F35}
#articles_block .articles_block .align_right{ padding-left:480px;}
#articles_block .hr{display:block; color:#404e5d; } 

.validator{color:red; font-size:10px}

#gallery_container{
	position:absolute;
	width:900px;
	z-index:20;
 }
#gallery_container .head{color:#444; font-size:16px; height:20px; text-align:center}
#gallery_bg{background:url(../images/gallery_bg.png) repeat-y center}
#gallery_top{background:url(../images/gallery_top.png) no-repeat center bottom; height:16px}
#gallery_bottom{background:url(../images/gallery_bottom.png) no-repeat center top; height:16px}
#images_list{padding-left:10px}

#page ul.gallery, #page .gallery li {list-style:none; margin-left:10px}

#page ul.gallery>li {
   font-size:14px; 
   color:#444; 
   font-weight:bold; 
   text-align:left; 
   padding:10px;
   width:100%;
   clear:left;
}
#page ul.gallery li ul {list-style:none;}

#page ul.gallery li ul li {
   list-style:none;
   padding:5px; 
   font-size:12px; 
   font-weight:normal;
   float:left;
   width:160px;
   height:150px;
   margin-right:10px;
}

#editForm{position:absolute; z-index:1000; border:3px ridge #c6e3f1; display:none}
#formHead{background:#c6e3f1; text-align:left; padding:2px 5px; color:#444; font-weight:bold; font-size:12px}

#temporary_block{display:none}