{config_load file="$language/admin.cfg" section="boxes_list"} 
<form id="actionform" action="{$module_url}{$method_url}" method="POST">

<table class="list">
<input class="button" type="button" value="{#add#}" onClick="document.location.href='{$module_url}{$add_url}'">
 <!-- Заглавие-->
	<tr><th width="200">{#name#}</th><th>{#page#}</th><th width="150">{#module#}</th><th width="200">{#function#}</th><th width="150">{#position#}</th>
	<th>{#order#}</th><th class="small">{#disabled#}</th><th width="80">{#action#}</th>
<!-- categorys -->
{section name=i loop=$list}
<tr><td>{$list[i].name}</td>
	<td>{$list[i].documents}</td>
        <td>{$list[i].module_name}</td>
	<td>{$list[i].method}</td>
	<td>{$list[i].position}</td>
	<td align="center">{$list[i].ordno}</td>
	<td align="center">{if $list[i].disabled}<img src="./admin/templates/images/disabled.png">{/if}</td>
	<td><a href="{$module_url}{$edit_url}&itemId={$list[i].id}{if $list[i].ispage == 1}&ispage=1{/if}"><img src="./admin/templates/images/edit.gif" alt="Редактировать" title="Редактировать"></a>&nbsp;&nbsp;&nbsp;
		<a href="javascript:confirm_del('Дествительно удалить : {$list[i].name}?','{$ajax_url}&method=Del&pId={$list[i].id}');"><img src="./admin/templates/images/delete.gif" alt="Удалить" title="Удалить"></a>
	</td>	
{/section}
</table>

</form>