{config_load file="$language/admin.cfg" section="forms"} 
<form id="edit_form" action="{$module_url}{$method_url}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="MAX_FILE_SIZE" value="10000">
	<input type="hidden" name="id" value="{$item.id}">
	<input type="hidden" name="action" value="{$action}">
	<input type="hidden" name="oldimage" value="{$item.image}">
	<input type="hidden" name="oldimage" value="{$item.country_id}">
	
<div class="action">{$action_title} <b>{$item.name}</b></div>

<input class="button" type="submit" name="submit" value="{#save#}">&nbsp;&nbsp;&nbsp;
<input class="button" type="button" name="cancel" value="{#cancel#}" onClick="document.location.href='{$module_url}{$method_url}'">

<!-- закладки-->
<div class="section">
 <ul class="tabs">
	<li class="tab1 current">Параметры</li>
	<li class="tab2">Страница</li>
 </ul>
</div>

<div class="tab1 box visible">

<table class="edit" border=0>
<tr><td class="caption">{#name#}
	<td class="value"><input type="text" name="name" id="name" maxlength="50" size="50" value="{$item.name}">
	
<tr><td class="caption">URL {#url#}
	<td class="value">
	<table><tr>
		<td>
		<input type="radio" name="absolute_url" value="0" {if $item.absolute_url==0}checked="cehcked"{/if}/>{$HOST}{$lang_url}{$realModuleUrl}/ <br/>
		<input type="radio"  name="absolute_url" value="1"{if $item.absolute_url==1}checked="cehcked"{/if}/>{$HOST} <br/>
		<td rowspan="2">+
		<input type="text" name="url" id="url" maxlength="100" size="50" value="{$item.url}"> <span class="small">без конечного /</span>
	</table>
	<span class="small">Выбирая нижний вариант формирования URL позаботтесь об уникальных адресах для разных языков</span>
<tr><td class="caption">{#disabled#}
	<td class="value"><input type="checkbox" name="disabled" id="disabled" {if $item.disabled}checked{/if}>

<tr><td class="caption">{#icon#}
	<td class="value"><input type="file" name="image" id="image">&nbsp;&nbsp;{$images}

<tr><td class="caption"><img src="{$img_folder}{$item.image}" />
	<td class="value"><input type="checkbox" name="del" id="del"> {#del#} 
	
</table>

{if $action == 'update'}
<fieldset style="margin-left:50px; width:600px"><legend>{#articles#}</legend>
<span class="small">{#country_articles#}</span><br/>
<input class="button" type = "button" name="add" id="add" value="{#add#}" onclick="countryShowCategorys('{$ajax_url}{$getCategoryListForm_url}&value={$item.id}');">
<br/><br/>
<div id="binded_articles">
	{$binded_articles}
</div>
</fieldset>
{/if}
<br/>

</div>

<div class="tab2 box">

<table class="edit" border=0>	
<tr><td class="caption" valign="top">{#title#}
	<td class="value"><input type="text" name="title" id="title" maxlength="255" size="90" value="{$item.title}">
	
<tr><td class="caption" valign="top">{#page#}
	<td class="value">{$item.text}
	
<tr><td class="caption">Meta Title
	<td class="value"><input type="text" name="meta_title" id="meta_title" value="{$item.meta_title}" size="90" maxlength="255">
	
<tr><td class="caption">Meta Description
	<td class="value"><input type="text" name="meta_description" id="meta_description" value="{$item.meta_description}" size="90" maxlength="255">
	
<tr><td class="caption">Meta Keywords
	<td class="value"><input type="text" name="meta_keywords" id="meta_keywords" value="{$item.meta_keywords}" size="90" maxlength="255">
	
</table>
</div>

</form>

<div id="editForm"></div>