{literal}
<script language="JavaScript">
function moduleChange(id){
	var ispage = maybe_page[id];
	document.getElementById('maybe_page').value = ispage;
	(ispage == 1) ? document.getElementById('page').style.display = 'block' : document.getElementById('page').style.display = 'none';
	(id == 2) ? document.getElementById('starting').style.display = 'block' : document.getElementById('starting').style.display = 'none';
	(ispage != 1) ? document.getElementById('createMethod').style.display = 'block' : document.getElementById('createMethod').style.display = 'none';
}
function nodeClick(sender){
	if (sender.checked) document.getElementById('method').checked = false;
}
function methodClick(sender){
	if (sender.checked) document.getElementById('node').checked = false;
}
</script>
{/literal}
{$module_array}
<form id="edit_form" action="{$module_url}{$method_url}{$parent_url}" method="POST">
	<input type="hidden" name="id" value="{$item.id}">
	<input type="hidden" name="parent" value="{$item.parent}">
	<input type="hidden" name="old_url" value="{$item.url}">
	<input type="hidden" name="action" value="{$action}">
	<input type="hidden" name="reference_id" value="{$item.reference_id}">
	<input type="hidden" name="maybe_page" id ="maybe_page" value="{$item.maybe_page}">
	
<div class="action">{$action_title} <b>{$item.name}</b></div>

<input class="button" type="submit" name="submit" value="Сохранить">&nbsp;&nbsp;&nbsp;
<input class="button" type="button" name="cancel" value="Отмена" onClick="document.location.href='{$module_url}{$method_url}{$parent_url}'">

<table class="edit" border=0>
<tr><td class="caption">Название
	<td class="value"><input type="text" name="name" id="name" maxlength="200" size="100" value="{$item.name}">

<tr><td class="caption">Порядок
	<td class="value"><input type="text" name="ordno" id="ordno" maxlength="2" size="2" value="{$item.ordno}">

<tr><td class="caption">Отображение
	<td class="value">
		На главной<input type="checkbox" name="doc_main" id="doc_main" {if $item.doc_main}checked{/if}>&nbsp;&nbsp;&nbsp;&nbsp;
		На внутренних<input type="checkbox" name="doc_inner" id="doc_inner" {if $item.doc_inner}checked{/if}>

<tr><td class="caption">Отключен
	<td class="value"><input type="checkbox" name="disabled" id="disabled" {if $item.disabled}checked{/if}>

<tr><td class="caption">Узловой (имеет подпункты)<br>подпункты создаются пользователем
	<td class="value"><input type="checkbox" name="node" id="node" {if $item.node}checked{/if} onClick="nodeClick(this);">

<tr><td class="caption">Модуль
	<td class="value">{$modules}
	
</table>

<div id="starting" style="display:{if $item.module_id == 2}block{else}none{/if}">
<table class="edit" border=0>
<tr><td class="caption">Стартовая
	<td class="value"><input type="checkbox" name="starting" id="starting" {if $item.starting}checked{/if} onClick="startingClick(this);">
</table>	
</div>

<div id="page" style="display:{if $item.maybe_page}block{else}none{/if}">
<table class="edit" border=0>
<tr><td class="caption">Выбрать страницу
	<td class="value">{$pages}
</table>
</div>

<div id="createMethod" >
<table class="edit" border=0>
<tr><td class="caption">Подпункты формирует выбраный модуль
	<td class="value"><input type="checkbox" name="method" id="method" {if $item.method_id != 0 } checked {/if} onClick="methodClick(this);">

</table>
</div>

<table class="edit" >
<tr><td>url <span class="small">(имеет смысл изменять если выбирается страница)</span>
	<td><input type="text" name="url" id="url" maxlength="100" size="100" value="{$item.url}">
	
<tr><td class="caption">Url как задано 
	<td class="value">
		<input type="checkbox" name="absolute_url" id="absolute_url" {if $item.absolute_url}checked='checked'{/if}>
		<br><span class="small">если не отмечено будет добавлен язык ru ил ua</span>
</table>
	
</form>
