{config_load file="$language/captions.cfg" section="main"}
<!-- Контейнер -->
<center>
<div id="container">
<div id="dialog"></div>

<!-- верхняя линия меню -->
<div id="top">
{$LANG_BLOCK}
{$SEARCH_BLOCK}
{$MAIN_MENU}
</div>

<div id="head">
<div id="head_left">
{$HEAD_LEFT}
{$LOGO}
</div>
<div id="head_center">
{$HEAD_RIGHT}
</div>
<div id="head_right">
{$CONTACTS}
{*$EMAIL*}
</div>
</div>

<div id="body" >
<div id="body_top">
<div id="body_bottom">

<div id="wrapper">

<!-- левая колонка -->
<div id="left">
{$TOP_CONTAINER}
{$LEFT_CONTAINER}
</div>

<!-- content -->
<div id="content">
{if $NAVIGATOR}<div id="tool"><div id="navigator">{eval var = $NAVIGATOR}</div></div>{/if}
{$CONTENT} 
</div>

<!-- страны -->
<div id="top_right">
{$TOP_RIGHT}
</div>

</div>
<div id="bottom"></div>

</div><!-- /тело страницы top--> 
</div><!-- /тело страницы bottom--> 
</div><!-- /тело страницы--> 

<!-- Низ -->
<div id="footer">
<table>
<tr><td>{$BOTTOM_CONTAINER}</td><td >{$COPYRIGHT}</td></tr>
<tr><td colspan="2">{$ADDRESS}</td></tr>
</table>
</div><!-- /Низ -->

</div><!-- /контейнер -->

</center>