#mainmenu{position:absolute; margin-left:300px; margin-top:5px; }
#mainmenu ul.sf-menu  li {float:left; padding:6px 5px;  font-weight:bold; position:relative;}
#mainmenu ul.sf-menu li:hover {visibility: inherit;  /*fixes IE7 'sticky bug'*/}
#mainmenu ul.sf-menu  li:hover{height:33px; background:url(../images/m_bg.jpg) repeat-x top}
#mainmenu ul.sf-menu  li  a{display:block; width:100%; height:100%; text-decoration:none; color:white}
#mainmenu ul.sf-menu  li  a:hover{color:#444}
#mainmenu ul.sf-menu  li  a.active{color:#444; padding-top:7px}
#mainmenu ul.sf-menu  li.active{padding:0; background:url(../images/m_bg.jpg) repeat-x center}
#mainmenu .l{height:33px; padding-left:10px; background:url(../images/m_l.jpg) no-repeat left}
#mainmenu .r{height:33px; padding-right:10px; background:url(../images/m_r.jpg) no-repeat right}

/*** ESSENTIAL STYLES ***/
.sf-menu ul {	position: absolute;	top:-999em;	width:15em; /* left offset of submenus need to match (see below) */}
.sf-menu ul li {width:100%}
#mainmenu ul.sf-menu  li ul li a {color:#444}
#mainmenu ul.sf-menu li ul li:hover{background:url(../images/m_bg.jpg) repeat-x center; height:auto}
.sf-menu li:hover ul,.sf-menu li.sfHover ul {left: 0; top: 30px; /* match top ul list item height */ z-index:99;}
ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul { top:-999em;}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul { left:10em; /* match ul width */	top:0;}
ul.sf-menu li li:hover li ul,ul.sf-menu li li.sfHover li ul {top:-999em;}
ul.sf-menu li li li:hover ul,ul.sf-menu li li li.sfHover ul {left:10em; /* match ul width */	top:0;}

/*** DEMO SKIN **/
.sf-menu {}
.sf-menu a {padding-top:2px}
.sf-menu a, .sf-menu a:visited  { }
.sf-menu li ul li a{color:#444}
.sf-menu li ul { box-shadow: 2px 2px 5px black}
.sf-menu li li {background:	#ecf0f6; text-align:left;}
.sf-menu li li a, .sf-menu li li a:visited{color:#444;}
/*.sf-menu li li a.last{background:none}
.sf-menu li:hover, .sf-menu li.sfHover,.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {	color:#5184d8; outline:0;}
.sf-menu  li.active_menu >a {color:#5184d8}
*/