{literal}
<script type="text/javascript">
function checkLogin(f, message) {if (f.login.value.length < 2 || f.password.value.length < 4 )	alert(message); else f.submit();}
</script>
{/literal}

{if $ErrorMessage}<script type="text/javascript">alert('{$ErrorMessage}');</script>{/if}

{config_load file="$language/captions.cfg" section="login"}
<form name="loginform" id="loginform" action="{$action}" method="post">
<input type="hidden" name="request_uri" value="{$request_uri}"/>
<input type="hidden" name="login_uri" value="{$login_uri}"/>
<table>
<tr><th colspan="2">{#title#}</th></tr>
{if !$login}
<tr><td>{#login#}</td><td>&nbsp;&nbsp;<input class="text" type="text" id="login" name="login" maxlength="20" value="" /><br/></td></tr>
<tr><td>{#pass#}</td><td>&nbsp;&nbsp;<input class="text" type="password" id="password" name="password" maxlength="20" value="" /><br/></td></tr>
<tr><td colspan="2" align="right"><a class="enter" href="javascript:void(0);" onclick = "checkLogin(document.getElementById('loginform'), '{#empty_login#}');"></a></td></tr>
{else}
<tr><td colspan="2" align="right"><a class="enter" href="javascript:void(0);" onclick = "document.getElementById('loginform').submit();"></a></td></tr>
{/if}
</table>
</form>
