<div class="country_block">
	<div class="country_title">Программы по странам <a class="visible-xs" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse">+</a></div>
	<div id="collapseTwo" class="row panel-collapse collapse in">
		{section name=i loop = $list}
		<div class="country_item col-xs-6 col-sm-3 col-md-2 col-lg-2">
			<a href="{$list[i].url}"><img src="{$img_folder}{$list[i].image}" alt="{$list[i].name}" align="center"/></a>
			<a class="name" href="{$list[i].url}">{$list[i].name}</a>
		</div>
		{/section}
	</div>
	<div class="clear"></div>
</div>
