<div id="home_programm">
	<h2>ПРОГРАММЫ ОБУЧЕНИЯ ЗА РУБЕЖОМ <a class="visible-xs" href="#collapseOne" data-parent="#accordion" data-toggle="collapse">+</a></h2>
	<div id="collapseOne" class="row panel-collapse collapse in">
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center"><a href="/ru/category/childrens/holidays/"><img src="/upload/image/study/vacation.png" alt="" class="img-responsive" /><br />Каникулы</a></div>
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center"><a href="/ru/category/higher_education/"><img src="/upload/image/study/high_education.png" alt="" class="img-responsive" /><br />Высшее образование</a></div>
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center"><a href="/ru/category/childrens/second_education/"><img src="/upload/image/study/middle_education.png" alt="" class="img-responsive" /><br />Среднее образование</a></div>
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center"><a href="/ru/category/pre-university/"><img src="/upload/image/study/prepare.png" alt="" class="img-responsive" /><br />Подготовка к университету</a></div>
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center"><a href="/ru/category/professionals/lang_course/"><img src="/upload/image/study/to_business.png" alt="" class="img-responsive" /><br />Бизнесменам</a></div>
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 text-center"><a href="/ru/category/professionals/language_abroad.html"><img src="/upload/image/study/lang_course.png" alt="" class="img-responsive" /><br />Языковые курсы</a></div>
	</div>
</div>
